.logo-wrapper .message-header {
    border-left: 1px solid #e8e8e8 !important;
    color: #777 !important;
    display: block !important;
    float: left !important;
    font: 1.2em "open_sanslight",Arial,Verdana,sans-serif !important;
    margin: 4px !important;
    padding: 0 4px 4px 12px !important;
}
.logo-wrapper .message-header {
    max-width: 230px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.message-header span small,
.message-header p small,
.message-header select {
    font: 10px "open_sanslight",Arial,Verdana,sans-serif !important;
    font-size: 65% !important;
    text-overflow: ellipsis !important;
    float: inherit !important;
}

.message-header span small,
.message-header p small{
    font-size: 9px !important;
}

.message-header span,
.message-header span small{
	padding: 0 !important;
/*	line-height: 1.42857 !important;*/
    line-height: 5px !important;
    margin: 0 !important;
}

.message-header p {
	margin-bottom: 0 !important;
    line-height: 15px !important;
}

.smToolbar ul{
    padding-top: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

a.btnCustom {
    float: left;
    width: 11.1%;
    text-decoration: none;
}

.btnCustom div{
    width: 100%;
    height: 100px;
    text-align: center;
}

.btnCustom div span{
    float: left;
    width: 100%;
    padding-top: 70px;
    vertical-align: middle;
    font-size: 11px;
    text-align: center;
}

.btnCustom div img{
    display: none;
}







.btnCustom:hover div{
    background-color: #00c6d7 !important;
    color: #fff;
}

.barraPositivo{
    height: 23px;
    background-color: #00c6d7;
    float: left;
    margin-top: 0;
}

.barraNegativo{
    height: 23px;
    background-color: #e9e9e9;
    padding: 0 3px;
    margin-top: 0;
    border-top: solid 3px #fff;
    border-bottom: solid 3px #fff;
    float: right;
}

.barraText{
    font-size: 10px;
    color: #003245;
    float: left;
    margin-top: 10px;
}

.barraPorcentagem{
    color: #00c6d7;
    margin-top: 10px;
}

.tituloEtapa {
    font-size: 11px;
    color: #898989;
}

.descricaoEtapa {
    font-size: 12px;
    color: #00c6d7;
}

/* ********** CUSTOM BOOTSTRAP ********** */
.breadcrumb {
    background-color: transparent !important;
    border-bottom: solid 1px #e9e9e9;
}

.breadcrumb > li a{
    color: #a4a3a3 !important;
}

.breadcrumb > li + li::before {
    content: "> " !important;
}

.breadcrumb > .active {
    color: #00c6d7 !important;
    font-weight: bold !important;
}

.tableCustom thead {
    border: solid 1px #d7d6d6;
    background-color: #e4e3e3;
    color: #003245;
}

.tableCustom thead tr th {
    font-size: 8px;
    font-weight: bold;
}

.tableCustom tbody {
    border: solid 1px #d7d6d6;
}

.tableCustom tbody tr td {
    font-size: 10px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
}

.icnTable {
    position: relative;
    float: left;
    width: 20%;
    height: 35px;
}

.icnTable div {
    height: 35px;
}

.icnTable div span {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #fff;
}






.gridStatus {
    width: 100%;
    color: #00c6d7;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}

.gridTitulo {
    width: 100%;
    color: #003245;
    font-size: 11px;
}

.gridSubTitulo {
    width: 100%;
    color: #696969;
    font-size: 10px;
    margin-bottom: 5px;
}

.gridTituloDados{
    width: 100%;
    color: #898989;
    font-size: 9px;
    float: left;
    margin-top: 10px;
}

.gridDados,
.gridDados a{
    width: 100%;
    color: #00c6d7;
    font-size: 12px;
    margin-top: 6px;
}

.push-header{
    font-family: Arial,Tahoma,sans-serif !important;
    font-size: 11px !important;
}

.smToolbar li a {
    font-size: 1.4em !important;
}

.aside-menu-option h3 {
    margin: 0 !important;
    padding-top: 0 !important;
    line-height: 27px !important;
    font-size: 25px !important;
}


.sec-content-wrapper h3,
.aside-back span{
    font-size: 25px !important;
}

p.sm-padding-5 {
    font-size: 11px !important;
}

.icon-link,
.icon-mobile-phone {
    font-size: 22px;
}

.aside-menu-option:hover h3 small,
.aside-menu-option a:hover,
.sec-content-wrapper h3 small,
.smToolbar li a:hover {
    color: #fff;
    text-decoration: none;
}

.btnAcoesOcultarTituloA,
.btnAcoesExibirTituloA,
.btnAcoesOcultarTitulo,
.btnAcoesExibirTitulo,
.btnAcoesTravarTitulo,
.btnAcoesDestravarTitulo,
.btnAcoesTravarTituloA,
.btnAcoesDestravarTituloA {
    padding-top: 10px;
    font-weight: bold;
    font-size: 8px;
    color: #bababa;
    cursor: pointer;
}

.destravarColuna{
    overflow-y: scroll;
    max-height: 670px;
/*    position: absolute;
    right: 0;*/
}

.inputDataGrid{
    font-size: 9px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 70px !important;
    border: 0 !important;
    background-color: rgba(0,0,0,0) !important;
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}

.tituloFormPesquisa{
    margin-top: 0 !important;
}

.control-label{
    text-align: left !important;
}

.table>thead>tr>th {
    font-weight: bold;
    color:#007486;
    border-bottom: 1px solid #007486 !important;
}

.table>thead>tr {
    background-color: #eee;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
}

.table {
    margin-bottom:8px;
}

.tituloH4Cinza {
    color: #3d3b3b;
    border-bottom: solid 1px #e4e3e3;
    padding-bottom: 17px;
    padding-top: 20px;
    background-color: #fff;
    margin-top: 0;
}

.gridTitulo, .gridStatus {
    margin-bottom:10px;
}