*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, .container, .scroller {
	height: 100%;
	width: 100rem;
	width: 100vw;
}

.scroller {
	overflow-y: scroll;
	overflow-x: hidden;
}

.scroller,
.scroller-inner {
	position: relative;
}

.scroller-inner {
	height: 100%;
}

.container {
	position: relative;
	overflow: hidden;
}

.mp-pusher {
	position: relative;
	left: 0;
	height: 100%;
}

.mp-menu {
	position: absolute; /* we can't use fixed here :( */
	top: 0;
	left: 0;
	z-index: 1;
	width: 350px;
	height: 100%;
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.mp-level {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f9f9f9;
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	content: '';
	opacity: 0;
}

.mp-pusher::after {
	background: rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	-moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.mp-level::after {
	z-index: -1;
}

.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.mp-level.mp-level-overlay {
	cursor: pointer;
	background-color: #2980b9;
}

.mp-level.mp-level-overlay:hover {
	background-color: #3498db;
}

.mp-level.mp-level-overlay.mp-level::before {
	width: 100%;
	height: 100%;
	background: transparent;
	opacity: 1;
}

.mp-pusher,
.mp-level {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
	box-shadow: 1px 0 3px rgba(0,0,0,0.5);
	-webkit-transform: translate3d(-60px, 0, 0);
	-moz-transform: translate3d(-60px, 0, 0);
	transform: translate3d(-60px, 0, 0);
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
	box-shadow: none;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .mp-level.mp-level-open {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

/* content style */
.mp-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.push-header {
	padding: 25px;
	margin: 0;
	background-color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.push-header .user-avatar {
	float: left;
	margin-right: 20px;
	height: 53px;
	width: 58px;
	position: relative;
	overflow: hidden;
}

.push-header .user-avatar > img {
	height: auto;
	width: 58px;
}

.push-header h2 {
	margin: 0;
	color: #3498db;
	font: 2.2em "open_sanslight", Arial, Verdana, sans-serif;
	text-transform: uppercase;;
}

.push-header span {
	display: block;
	margin: 0;
	color: #999;
	font: 1.6em "open_sanslight", Arial, Verdana, sans-serif;
}

.mp-menu h2::before {
	display: none;
	opacity: 0;
}

.mp-menu.mp-overlap h2::before {
	position: absolute;
	content: "";
	top: 25px;
	right: 6px;
	margin-right: 8px;
	height: 30px;
	width: 30px;
	display: block;
	background: url(../images/sprite.png) no-repeat;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
	transition: opacity 0.3s, transform 0.1s 0.3s;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	transform: translateX(-100%);
}

.mp-menu.mp-overlap h2::after {
	position: absolute;
	content: "";
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 9px solid transparent;
	border-left: 9px solid #fff;
	opacity: 0;
	z-index: 20;
	top: 25px;
	right: 100px;
	height: 0;
	width: 0;
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.mp-menu.mp-overlap > .mp-level-overlay h2::after {
	opacity: 1;
	right: 42px;
	-webkit-transition: all 0.3s ease-in-out 0.5s;
	-moz-transition: all 0.3s ease-in-out 0.5s;
	transition: all 0.3s ease-in-out 0.5s;
}

.mp-menu.mp-overlap h2.ico-gear:before {
	background-position: -32px -24px;
}

.mp-overlap .mp-level.mp-level-overlay > .push-header {
	background-color: transparent;
}

.mp-overlap .mp-level.mp-level-overlay > .push-header h2::before {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	transform: translateX(0);
}

.mp-menu ul li > a {
	display: block;
	padding: 15px 25px 15px 60px;
	outline: none;
	box-shadow: inset 0 -1px #eee;
	color: #555;
	font: 1.8em "open_sansregular", Arial, Verdana, sans-serif;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.mp-menu ul li .icon:before {
	content: "";
	position: absolute;
	display: block;
	height: 22px;
	width: 25px;
	background: url(../images/sprite.png) no-repeat;
	left: 25px;
	z-index: -1;
	-webkit-transition:all 0.2s ease-in-out 0.4s;
	-moz-transition:all 0.2s ease-in-out 0.4s;
	transition:all 0.2s ease-in-out 0.4s;
}

.mp-menu ul li:hover > .icon:before {
	z-index: 0;
}

/*GEAR*/
.mp-menu ul li > .ico-gear-sm:before {
	background-position: -246px 0px;
	width: 22px;
}

.mp-menu ul li:hover > .ico-gear-sm:before {
	background-position: -246px -23px;
}

/*DASHBOARD (TV)*/
.mp-menu ul li > .ico-tv:before {
	background-position: -270px 0px;
	width: 22px;
}

.mp-menu ul li:hover > .ico-tv:before {
	background-position: -270px -23px;
}

/*EYE*/
.mp-menu ul li > .ico-eye:before {
	background-position: -294px 0px;
	width: 23px;
}

.mp-menu ul li:hover > .ico-eye:before {
	background-position: -294px -23px;
}

/*OFF*/
.mp-menu ul li > .ico-off:before {
	background-position: -319px 0px;
	width: 20px;
}

.mp-menu ul li:hover > .ico-off:before {
	background-position: -319px -23px;
}

/*USER*/
.mp-menu ul li > .ico-user:before {
	background-position: -341px 0px;
	width: 22px;
}

.mp-menu ul li:hover > .ico-user:before {
	background-position: -341px -23px;
}

/*PASS*/
.mp-menu ul li > .ico-pass:before {
	background-position: -365px 0px;
	width: 22px;
}

.mp-menu ul li:hover > .ico-pass:before {
	background-position: -365px -23px;
}

/*AVATAR*/
.mp-menu ul li > .ico-avatar:before {
	background-position: -389px 0px;
	width: 22px;
}

.mp-menu ul li:hover > .ico-avatar:before {
	background-position: -389px -23px;
}

/*HELP*/
.mp-menu ul li > .ico-help:before {
	background-position: -413px 0px;
	width: 15px;
	left: 27px;
}

.mp-menu ul li:hover > .ico-help:before {
	background-position: -413px -23px;
}

/*GRAPHS*/
.mp-menu ul li > .ico-graphs:before {
	background-position: -430px 0px;
	width: 22px;
}

.mp-menu ul li:hover > .ico-graphs:before {
	background-position: -430px -23px;
}

/*BROWSER*/
.mp-menu ul li > .ico-browser:before {
	background-position: -454px 0px;
	width: 22px;
}

.mp-menu ul li:hover > .ico-browser:before {
	background-position: -454px -23px;
}

.mp-level > ul > li:first-child > a {
	box-shadow: inset 0 -1px #eeeeee, inset 0 1px #eeeeee;
}

.mp-menu ul li a:hover,
.mp-level > ul > li:first-child > a:hover {
	color: #fff;
	background-color: #3498db;
	box-shadow: inset 0 -1px #2980b9;

}

.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
	box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.mp-back {
	background: #eee;
	outline: none;
	color: #333;
	font: 1.8em "open_sansregular", Arial, Verdana, sans-serif;
	display: block;
	padding: 15px 25px;
	position: relative;
	box-shadow: inset 0 1px #ddd;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.mp-back::after {
	position: absolute;
	content: "";
	display: block;
	right: 25px;
	top: 15px;
	height: 21px;
	width: 8px;
	background: url(../images/sprite.png) no-repeat -235px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.mp-back:hover::after {
	background-position: -224px 0px;
}

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
	background: transparent;
	box-shadow: none;
	color: transparent;
	display: none;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
	padding-left: 350px;
}

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
	display: none;
}

.no-csstransforms3d .mp-menu > .mp-level,
.no-js .mp-menu > .mp-level {
	display: block;
}