
.mini-titulo {
    text-transform: uppercase;
    color:#a6a6a6;
    font-size:10px;
    font-family:helvetica;
    text-align: right;
    padding:2px;
}
.mini-titulo-l {
    text-transform: uppercase;
    color:#a6a6a6;
    font-size:10px;
    font-family:helvetica;
    text-align: left;
    padding:2px;
}
.mini-titulo-c {
    text-transform: uppercase;
    color:#a6a6a6;
    font-size:10px;
    font-family:helvetica;
    text-align: center;
    padding:2px;
}
.menu-selected i {
    color:#2e77b4;
}
.fnt-bold {
    font-family: colaborate-regularregular;
}
.fnt-thin {
    font-family: colaborate-thinregular;
}
.fnt-regular {
    font-family: archivo_narrowregular;
}

.borderactive { border: 1px solid #e6e6e6; }
.imgbusca { margin-left:5px; margin-top:5px; position:absolute; }
.boxNews { border:1px solid black; background-color:#FFEC06; padding:3px; margin-bottom:2px; }
.activeMenuLink { background-color:#55AAFF; padding:4px; color:white; }
.padding-4 { padding:4px; }
.contentApp { padding:8px; }
.form {
    background-color:#F4F4F4;
    border:1px solid #D9D9D9;
    padding:10px;
}
.dvlped {
    position:absolute;
    margin-left:2px;
    margin-top:-4px;
}
.icon-large {
    font-size:26px;
}
.icon-medium {
    font-size:24px;
}
.icon-small {
    font-size:18px;
}

.form p {
    /*margin-bottom:10px;*/
}

.form div.labelField {
    width:140px;
    float:left;
}
.form textarea[name='descricao'] {
    height:80px;
    width:658px;
}

.list-compact li h2 {
    padding:10px;
    padding-bottom:0px;
}

.list-compact li {
    border-bottom:1px solid #e1e1e1;
}

.list-compact li:last-child {
    border-bottom:0px;
}

.list-compact p {
    padding:10px;
    padding-top:0px;
}

#blocoMessageAlert {
    background-color:#ffeea8;
    margin:0 auto;
    width:350px;
    min-width:350px;
    padding:4px;
    font-size:11px;
    position:absolute;
    font-weight:bold;
    border:1px solid #ffe055;
    margin-top:-1px;
    padding-top:15px;
}
#blocoMessageAlert small a { color:#ad6a2a;}
#msgBoxNew { margin:0 auto; width:350px; }

#showError {
    background-color:#FFE4E2;
    border:3px solid #FDCAC3;
    color:#9A2523;
    display:none;
    font-size:11px;
    padding:10px;
    margin-bottom:10px;
}

#showConfirm {
    background-color:#e0fdd8;
    border:3px solid #daf2c7;
    color:#9A2523;
    font-size:11px;
    padding:10px;
    margin-bottom:10px;
    display:none;
    color:#4d6c3a;
}

#showAlert {
    background-color:#fff3b6;
    border:3px solid #fde791;
    color:#9e6d58;
    font-size:11px;
    padding:10px;
    margin-bottom:10px;
    border-radius:4px;
}

#showAlert h2 {
    margin-left:0px;
    padding-left:0px;
}

/* bartop */
.bartop {
    height:23px;
    padding:6px;
    /**background-color:#85c385;*/
    /**color:white;*/
    background-color:white;
    margin-bottom:0px;
    /*
    box-shadow:1px 1px 10px rgba(50, 50, 50, 0.3);
    -webkit-box-shadow:1px 1px 10px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:1px 1px 10px rgba(50, 50, 50, 0.3);*/
    border-bottom:1px solid #f2f2f2;
    font-family: colaborate-thinregular;
}
.bartop-menu {
    margin-top:0px;
    width:100%;
    padding:0px;
    height:80px;
    display:none;
    background-color:white;
    border-bottom:1px solid #c9c9c9;
    box-shadow:1px 1px 10px rgba(50, 50, 50, 0.3);
    -webkit-box-shadow:1px 1px 10px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:1px 1px 10px rgba(50, 50, 50, 0.3);
    overflow-x:auto;
    overflow-y:hidden;
    font-family: colaborate-thinregular;
}
.bartop-menu div {
    padding:6px;
}
.bartop-options-profile li {
    float:left;
    padding:10px;
    text-align:center;
    font-size:11px;
    min-width:60px;
    height:60px;
    max-height:80px;
    border-right:1px solid #c9c9c9;
}
.bartop-options-profile li:hover {
    opacity:1.0;
}
.text-mini-upper {
    color:gray;
    text-transform:uppercase;
}

.bartopleft { left:0px; float:left; padding:6px; font-size:12px; margin:0px; color:#b1b1b1; font-weight:bold; padding-left:30px; }
.bartopleft a img { position:absolute; margin-top:-9px; margin-left:-32px; padding:6px; }
.content-bar-top-text {
    border-left:1px solid gray;
    padding:6px;
}
.loading-starts {

}
.bartopright {
    right:0px; float:right;
}
.setaamarela { width:15px; height:43px; background-color:#FFFFAA; float:left; *position:absolute; margin-right:14px; margin-top:1px; }
.setaamarela img { position:absolute; margin-left:15px; }
.setaverdenovaconta { position:absolute;margin-left:-10px;margin-top:0px; }
.texttituloarea h2 {
    *padding-left:30px;
}
.BoxRightImagem {
    margin-bottom:10px;overflow:hidden;width:220px;height:60px;background-color:white;
    /*
    box-shadow:1px 1px 10px rgba(50, 50, 50, 0.3);
    -webkit-box-shadow:1px 1px 10px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:1px 1px 10px rgba(50, 50, 50, 0.3);
    */
}
.minilink a { color:#7fa7be; }
.menufichacliente a { color:gray; }
.textmini a { color:gray; }
.show-profile-opts img {
    position:absolute;
    margin-left:-20px;
    margin-top:-3px;
}

/* geral */
#geral { height:100%; margin-top:10px; }

/* topo */
#topo { height:35px;background-color:#ffffff; opacity:0.8; filter: alpha(opacity=80); margin-bottom:8px; padding:6px; }

/* conteudo */
#gradeconteudo {
    float:left;
    margin:0 auto;
}

.view-area-portrait {
    max-width:1010px; /* 1010px (vision with menu left) || 810px (vision menu top) */
    width:765px;
    margin:0 auto;
    min-height:300px;
    padding:10px;
    padding-top:0px;
}

.view-area-portrait #rodape {
    padding:10px;
    padding-top:10px;
}

#conteudo {
    background-color:#FFFFFF;
    width:770px;
    /*
    -webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 8px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 0px 8px rgba(50, 50, 50, 0.2);
    */
    margin:-5px;
    margin-top:0px;
    border:1px solid #f1f1f1;
}

.submenu {
    height:35px;
}

.submenu p {
    *position:absolute;
    *margin-left:-25px;
}

/** Estilo da tela de resultados do buscador de arquivos **/
#conteudo #buscapersonalizada {
    border-bottom:2px solid #D2D2D2;
    min-height:200px;
    margin-top:-1px;
    border-top:none;
    border-right:none;
}

#conteudo #buscapersonalizada .tabela {
    padding:10px;
    color:#333;
}

#conteudo #buscapersonalizada .tabela ul.contatos li {
    padding:5px;
    padding-bottom:0px;
}

#conteudo #buscapersonalizada .tabela ul.contatos li,
#conteudo #buscapersonalizada .tabela ul.relevantes li {
    min-height:55px;
    padding-left:20px;
    *padding-left:6px;
}
#conteudo #buscapersonalizada .tabela ul.relevantes li.resultadonormal {
    min-height:29px;
    margin-bottom:0px;
    margin-top:0px;
}
#conteudo #buscapersonalizada .tabela ul.relevantes li.resultadonormal div.tipo {
    padding:7px;
    float:left;
    margin-right:19px;
}
#conteudo #buscapersonalizada .tabela ul.relevantes li.resultadonormal div.tipo img.imgseta {
    position:absolute;
    margin-left:106px;
    margin-top:-3px;
}
#conteudo #buscapersonalizada .tabela td.categoria img.imgseta {
    position:absolute;
    margin-left:109px;
    margin-top:-3px;
}
#conteudo #buscapersonalizada .tabela ul.contatos li img,
#conteudo #buscapersonalizada .tabela ul.relevantes li img {
    margin-right:6px;
}

.typeExtesionImage {
    background-color:#FFFFAA;
    width:100px;
}
.typeExtesionDocument {
    background-color:#CCCCFF;
    width:100px;
}
.typeExtesionAudio {
    background-color:#CCCC99;
    width:100px;
}
.typeExtesionArquivos {
    background-color:#CCFF66;
    width:100px;
}
.typeExtesionDocument img {
    position:absolute;
}
.typeExtesionContatos {
    background-color:#CCFF66;
    width:100px;
}

#conteudo #buscapersonalizada .tabela td {
    border-bottom:1px solid #D2D2D2;
}

#conteudo #buscapersonalizada .moreinfo { text-align:right; padding:5px; padding-top:0px; }
#conteudo #buscapersonalizada .moretitle { padding:5px; height:20px; padding-top:0px; padding-bottom:0px; border-bottom:1px solid #D2D2D2;  margin-bottom:5px; padding-left:30px; }

.resultados td.categoria {
    color:gray;
    width:100px;
    padding:10px;
    font-size:12px;
}
.resultados td.categoriaconteudo ul li {
    padding:6px;
    padding-left:20px;
    *padding-left:6px;
}

/* barra direita */

#direita h3 { background-color:white; padding:3px; font-size:12px; letter-spacing:0px; }
#direita p { font-size:12px; }
#direita {
    width:220px;
    min-height:400px;
    float:left;
    margin-left:14px;
    margin-top:0px;
    display:none;
}

#direita .box {
    background-color:white;
    padding:4px;
    border-right:1px solid #D2D2D2;
    border-bottom:1px solid #D2D2D2;
}

#direita .boxperfil .areaAvatar {
    overflow: hidden;
    width: 28px;
    height: 36px;
    margin: 3px;
    padding: 0px;
    position: relative;
    float: left;
    border: 1px solid #A5C4E4;
    background-color:#e7f8ff;
    border-top:1px solid #ddf0fc;
    border-left:1px solid #ddf0fc;
}
#direita .box img { margin-right:4px; }
#direita .boxperfil img { width:32px; margin:-6px; padding:0px; }
#direita .boxperfil img.none { margin:-2px; }
#direita .boxperfil { min-height:50px; background-color:#D6E4F3; border-bottom:1px solid #A5C4E4; border-right:1px solid #A5C4E4; }
#direita .boxperfil p { margin-left:41px; font-size:11px; padding-bottom:4px; }
#direita .boxsearch p { padding:2px; }
#direita .box ul li { border-bottom:1px dashed #E1E1E1; padding-top:5px;padding-bottom:5px; }
#direita .box ul li.ultima { border:none; }

@media screen and (-webkit-min-device-pixel-ratio:0) {

    #direita .boxperfil img {
        margin:0px;
    }

}

.areas > img { border:0px; position:absolute; }
.areas {
    font-size:13px; font-weight:bold; letter-spacing:0px; color:#A5A5A5;
    padding:4px;
}
/*.areas a:hover { color:#3D68BD; }*/
.areas { padding:40px; }
.areas .nome-schema { display:none; }

.areasBlocks {
    width: 15px;
}

listAreaBlocks {
    margin:0px;
    margin-bottom:50px;
}
.listAreaBlocks li {
    margin-top:4px;
    margin-right:7px;
    background-color:white;
    padding:4px;
    width:21px;
    height:16px;
    float:left;
    box-shadow:1px 1px 10px rgba(50, 50, 50, 0.2);
    -webkit-box-shadow:1px 1px 10px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:1px 1px 10px rgba(50, 50, 50, 0.2);
    margin-bottom:4px;
}
.listAreaBlocks li:hover {
    background-color:#fff29a;
}

.listAreaBlocks li a {
    padding:0px;
    margin:0px;
    padding:10px;
}

.listAreaBlocks li a img {
    position:relative;
    margin-left:-9px;
    margin-top:-1px;
}

#direita .menu {
    padding-left:30px;
    padding-top:10px;
    padding-bottom:10px;
    /*
    box-shadow:1px 1px 8px rgba(50, 50, 50, 0.3);
    -webkit-box-shadow:1px 1px 8px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:1px 1px 8px rgba(50, 50, 50, 0.3);
    */
    background-color:white;
    border:1px solid #f1f1f1;
    border-top:none;
    font-size:13px; font-weight:bold; letter-spacing:0px; color:#A5A5A5; font-family:colaborate-thinregular;
}
#direita .menu:hover {
    background-color: #f7f7f7;
}
#direita .menu img { margin-left:-25px; margin-top:-2px; }

#direita .menumartin-top-4 { margin-top:5px; border-top:1px solid #f1f1f1; }

/* properties for form */
.form { padding:4px; font-size:12px; margin:0px; }
.form textarea { width:505px; border:1px solid #C5BFBC; overflow: auto; height:66px; font-size:12px; padding:4px; font-family:verdana; }
.labelField {
    font-size:11px;
}

/* --> FORMS <-- */

.form {
    background-color:white;
    border:none;
    margin-top:5px;
    border-radius: 0px;
}

.form div.labelField {
    text-align:right;
    padding-top:12px;
    margin-right:10px;
    font-weight:bold;
    font-size: 12px;
}

.form input[type='submit'] {
    border:1px solid #a6a6a6;
    background-color:white;
    font-size:11px;
    padding:6px;
    color:#333333;
    font-family: verdana;
}

.form input[type='submit']:hover {
    background-color:#80d44c;
    cursor:pointer;
}

.form input[type="button"] {
    background-color:#dedede;
    border-top:1px solid #eee;
    border-right:1px solid gray;
    border-bottom:1px solid gray;
    border-left:1px solid #EEEEEE;
    font-size:11px;
}

.form input[type="button"]:hover {
    background-color:#304f8e;
    background-repeat:repeat-x;
    background-image:none;
    color:white;
    border:1px solid black;
    font-size:11px;
}

/*
input[type='file'] {
    border-left:1px solid gray;
    border-right:1px solid #EEE;
    border-bottom:1px solid #EEE;
    padding:5px;
    font-size:11px;
}
input[type="submit"], input[type="button"], button {
    border-top:1px solid #eee;
    border-right:1px solid gray;
    border-bottom:1px solid gray;
    border-left:0px;
    padding:4px;
    font-size:11px;
}

input[type="submit"] {
    font-weight:bold;
}

input[type="submit"] {
    background-color:#b8e211;
    background-image:url('../imgs/perfil/bgcinza.barra.gif');
    background-repeat:repeat-x;
    font-size:11px;
}

input[type="button"] {
    background-color:#dedede;
    background-image:url('../imgs/perfil/bgcinza.barra.gif');
    background-repeat:repeat-x;
    border-left:1px solid #EEEEEE;
    font-size:11px;
}

input[type="button"]:hover {
    background-color:#304f8e;
    background-repeat:repeat-x;
    background-image:none;
    color:white;
    border:1px solid black;
    font-size:11px;
}

input[type="submit"]:hover {
    background-color:#9cd85b;
    background-image:none;
    background-repeat:repeat-x;
    border:1px solid black;
    font-size:11px;
}

button:hover {
    background-color:#dedede;
    background-image:url('../imgs/perfil/bgcinza.barra.gif');
    background-repeat:repeat-x;
}
*/

/*
form select {
    border-top:1px solid gray;
    border-left:1px solid gray;
    border-right:1px solid #EEE;
    border-bottom:1px solid #EEE;
    padding:2px;
    padding-right:0px;
    font-size:11px;
}
*/
input[type="button"] {
    background-color:#dedede;
    border-top:1px solid #eee;
    border-right:1px solid gray;
    border-bottom:1px solid gray;
    border-left:1px solid #EEEEEE;
    font-size:11px;
}

input[type="button"]:hover {
    background-color:#304f8e;
    background-repeat:repeat-x;
    background-image:none;
    color:white;
    border:1px solid black;
    font-size:11px;
}


/* properties for text */
.textmini { font-size:9px; color:#3C3C3C }

/* propriedades de listagem */

table[name="listagem"] {
    padding:4px;
    margin:0px;
    width:100%;
}
table[name="listagem"] td {
    border-bottom:1px solid #ececec;
}
table[name="listagem"] tr.inicio td {
    border-top:1px solid #ececec;
}
table[name="listagem"] tr.final td {
    border-bottom:none;
}
div.titulo h2 { padding:4px; font-size:11px;}
.listtd { padding:10px; }
.paginacao { padding:4px; background-color:#f6f6f6; margin:4px; margin-bottom:0px; padding-bottom:4px; font-size:13px; margin-bottom:-3px; color:#afaeae; }
.paginacao a { color:#afaeae; }
.paginacao .selected { background-color:#dddddd; padding:2px; }
.organizarpor { padding:4px; }
.subinfo { height:68px; padding:0px; margin:0px; /*background-color:#b4e4ff;*/ margin-top:-2px; }
.subinfo small, .subinfo p  { padding-right:4px; font-family: colaborate-regularregular; font-size: 12px; }
.subinfo h2 { margin:0px; padding:0px; }
.linha { border-bottom:2px solid #ececec; }
.organizarpor {
    background-image:url("../imgs/perfil/sombraheader.gif");
    background-repeat:repeat-x;
    padding-top:6px; padding-bottom:0px;
}
.barradebusca { width:220px; float:left; padding-left:9px; }
.subinfo { padding:10px; }
.subinfo .ico {
    float:left;
    padding:10px;
    padding-left:3px;
    padding-top:4px;
    /*
    width: 44px;
    height:44px;
    border:3px solid white;
    background-color:white;
    margin:10px;
    margin-right:20px;
    margin-top:-8px;
    overflow:hidden;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    background-image: -moz-linear-gradient(-45deg, #dfdfdf 0%, #fdfdfd 100%);
    background-image: -o-linear-gradient(-45deg, #dfdfdf 0%, #fdfdfd 100%);
    background-image: -webkit-linear-gradient(-45deg, #dfdfdf 0%, #fdfdfd 100%);
    background-image: linear-gradient(-45deg, #dfdfdf 0%, #fdfdfd 100%);*/
}

.b-icon-app-img {
    border:2px solid white;
    background-color:white;
    margin:10px;
    width:50%;
    padding:6px;
    margin-top:-8px;
    margin-left:17px;
    overflow:hidden;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    background-image: -moz-linear-gradient(-45deg, #dfdfdf 0%, #fdfdfd 100%);
    background-image: -o-linear-gradient(-45deg, #dfdfdf 0%, #fdfdfd 100%);
    background-image: -webkit-linear-gradient(-45deg, #dfdfdf 0%, #fdfdfd 100%);
    background-image: linear-gradient(-45deg, #dfdfdf 0%, #fdfdfd 100%);
}
/*
.subinfo .ico img {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -moz-border-radius: 4px;
    margin:0px;
    margin-left:3px;
    margin-top:3px;
}
*/
.subinfo .icoInfo { margin-left:20px; }
.plinha {
    height:1px; width:100%; border-bottom:1px solid #ececec;
}
.psombra {
    /*background-image:url("../imgs/perfil/sombraheader.gif");
    background-repeat:repeat-x;*/
    border-top:1px solid #f5f5f5;
    padding-top:0px; margin:0px; padding:0px; padding-bottom:0px;
    height:7px;
    margin-top:4px;
}
.pRodape { background-color:#E2C8FF; padding:5px; margin:0px; }

/* campos formularios */

/* labels */
.clientes_label_razao_social { padding-right:8px; }
.clientes_label_cnpj { padding-right:1px; }
.clientes_label_email { padding-right:16px; }
.clientes_label_cep { padding-right: 35px; }
.clientes_label_telefone { padding-right: 3px; }

/* fields */
.clientes_cnpj { width:150px; }
.clientes_razao_social { width:315px; }
.clientes_nome_fantasia { width:275px; }
.clientes_rua { width:478px; }
.clientes_bairro { width:177px; }
.clientes_numero { width:82px; }
.clientes_cidade { width:133px; }
.clientes_estado { width:40px; }
.clientes_cep { width:100px; }
.clientes_telefone {}
.clientes_email { width:280px; }
.clientes_site { width:272px; }
.clientes_contato { width:150px; }
.clientes_observacoes { width: 647px; height:60px; }

.chamados_textarea { width:667px; height:100px; }
.cadastrolabel { padding-left:4px; }

/* chamados */
#listagem_administracao {
    background-color:white;
}
#listagem_administracao li {
    padding:10px;
    border-bottom:1px solid #ececec;
}
.respostastitulo {
    color:black;
    width:99%;
    padding:4px;
    text-align:right;
}
.uppercase { text-transform:uppercase;}
#listagem_administracao .open { background-color:#d6feff; }
.divrespostaalert { background-color:#dafc73; width:30%; margin:0 auto; margin-top:7px; text-align:center; padding:5px; display:none; }

/* ficha cliente */
div.titulo {
    /*background-image:url("../imgs/backgrounds/bg-bar-transparent.png");*/
}
.icoInfo h2 { letter-spacing:-1px; }
.icoInfo p small { color:#c07b19; }
.icoInfo p small a { color:#c07b19; font-weight:bold; }
.dados_ficha { margin:10px; *height:100%; }
.dados_ficha p { padding:10px; }
.gray { color:gray; }
.menufichacliente li { padding:2px; border-top:1px dashed #bcbcbc; background-color:#ececec; color:#6b6b6b; }
.table_contatos td { padding:4px; border-bottom:1px solid black; }
.table_contatos { width:100%; }
.headerbold { font-weight:bold; }
.alert { color:#f05c28; font-weight:bold; text-align:center; text-transform:uppercase; }

/* tabelas */
table[name="listagem"] {
    padding:4px;
    margin:0px;
    width:100%;
}
table[name="listagem"] a {
    color:#55AAFF;
}
table[name="listagem"] td {
    padding:6px;
}
table[name="listagem"] tr.inicio td {
    border-top:1px solid #ececec;
}
table[name="listagem"] tr.final td {
    border-bottom:none;
}
.listtd { padding:10px; width:95%; }
.listtdfirst { width:51px; }
.paginacao { padding:4px; background-color:#f6f6f6; margin:4px; margin-bottom:0px; padding-bottom:4px; font-size:13px; margin-bottom:-3px; color:#afaeae; }
.paginacao a { color:#afaeae; }
.paginacao .selected { background-color:#dddddd; padding:2px; }
.menuBottomBar { border-bottom:1px solid #e9e9e9; padding:4px; padding-top:0px; margin-bottom:5px; }
.menuBottomBar a:hover { color:#b6b6b6; }

/** TEMPLATES **/
/*
 * Template da tela de cadastro de usúarios
*/

.tempCadastroUsuarios {
    background-color:#ebebeb;
    padding:4px;
    margin-top:20px;
    text-align:right;
    border-top:2px solid #d6d6d6;
}

form[name='custom-search'] {
    border-bottom:1px dotted black;
    padding-bottom:5px;
    margin-bottom:5px;
}

form[name='custom-search'] div { float:left; }


/*
 * Favoritos
*/
#window-favoritos {
    width:650px;
    margin:-1px;
    margin-bottom:-13px;
}

#window-favoritos-content {
    height:400px;
    overflow: auto;
    padding:4px;
}

#window-favoritos .favoritos-app-icone {
    width:55px;
    text-align:center;
}
#window-favoritos-header {
    height:66px;
    border-bottom:1px solid #d4d4d4;
}
#window-favoritos-header {
    /*
    background-image:url('../imgs/pin_map_big.png');
    background-repeat:no-repeat;
    background-position:20px 12px;*/
}
#window-favoritos-header h2 {
    position:fixed;
    font-size:18px;
    color:#0d64ae;
}
#window-favoritos-header ul {
    margin-top:44px;
    position:fixed;
    width:390px;
    margin-right: 15px;
    margin-left: 245px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {

    #window-favoritos-header ul {
        /*margin-top:-17px;#*/
    }

}

#window-favoritos-header ul li {
    display:inline;
    font-size:12px;
    padding:8px;
    cursor:pointer;
    color:#c9c9c9;
}
#window-favoritos-header ul li.selected {
    padding:8px;
    border:1px solid #d4d4d4;
    border-bottom:none;
    background-color:white;
    color:#8c8c8c;
}
#window-favoritos-foot {
    background-color:#D6E4F3;
    border-top:1px solid #A5C4E4;
    padding:4px;
}
#window-favoritos-listar {
    min-height:350px;
    max-height:350px;
    overflow: auto;
}
#window-favoritos-listar > ul {
    margin:0px;
    padding:0px;
}
#window-favoritos-listar > ul li {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #d3d3d3;
}
#window-favoritos-listar > ul li:hover {
    border-top: 1px solid #f0f0f0;
    background-color:#f0f0f0;
    border-bottom: 1px solid #d3d3d3;
}
#window-favoritos-listar > ul li:first-child {
    border-top:none;
}
#window-favoritos-listar > ul li:last-child {
    border-bottom:none;
}
#window-favoritos-listar > ul li:last-child {
    margin-bottom:-13px;
}
#window-favoritos-listar .favoritos-app-icone {
    float:left;
}
#window-favoritos-listar .favoritos-app-descricao .titulo {
    margin-bottom:3px;
}

#window-favoritos-options-details {
    padding:5px;
    border-bottom:1px solid #e6e6e6;
    text-align:right;
}

#window-favoritos-listar .list-favoritos li {
    padding:8px;
}

#window-favoritos-listar .list-favoritos li a {
    text-decoration:none;
}
.list-favoritos-grupos li {
    border-bottom:1px solid #f0f0f0;
    border-top: 1px solid #d3d3d3;
}
.list-favoritos-grupos li:first-child {
    border-top:none;
}
.list-favoritos-grupos li:last-child {
    border-bottom:none;
}

.favoritos-apresentacao-blocks li {
    float:left;
    width:190px;
    height:330px;
    border-left:1px solid #cfcfcf;
    margin:5px;
    padding:10px;
}
.favoritos-apresentacao-blocks li:first-child {
    border-left:none;
}
.favoritos-apresentacao-blocks li p {
    font-size:12px;
}
.opt-favorito-lista-abrir:hover span {
    color:gray;
}
.block-favorito-show-1 {
    padding:8px;
}

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../imgs/switch.gif) repeat-x; display: block; float: left; }
.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
.cb-enable span { background-position: left -90px; padding: 0 10px; }
.cb-disable span { background-position: right -180px;padding: 0 10px; }
.cb-disable.selected { background-position: 0 -30px; }
.cb-disable.selected span { background-position: right -210px; color: #fff; }
.cb-enable.selected { background-position: 0 -60px; }
.cb-enable.selected span { background-position: left -150px; color: #fff; }
.switch label { cursor: pointer; }
.switch input { display: none; }

.tip-schema {
    background-color:#D6E4F3;
    color:#28496b;
    padding:4px;
    font-size: 9px;
    float:right;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-right:1px solid #A5C4E4;
    border-bottom:1px solid #A5C4E4;
}

.tip-schema-contentapp {
    background-color:#D6E4F3;
    color:#28496b;
    padding:4px;
    position:absolute;
    font-size: 9px;
    margin-left:74px;
    margin-top:2px;
    float:right;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-right:1px solid #A5C4E4;
    border-bottom:1px solid #A5C4E4;
}

/* button basics */
a.minibutton {
    display:inline-block;
    height:23px;
    padding:0 0 0 3px;
    font-size:11px;
    font-weight:bold;
    color:#333;
    text-shadow:1px 1px 0 #fff;
    white-space:nowrap;
    border:none;
    overflow:visible;
    cursor:pointer;
    text-decoration:none;
    background-repeat:no-repeat;
    background-position: 0 0;
}

a.minibutton>span {
    display:block;
    height:23px;
    padding:0 10px 0 8px;
    line-height:23px;
    background-repeat:no-repeat;
    background-position:100% 0;
}

a.minibutton:hover {
    color:#fff;
    text-decoration:none;
    text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
    background-position:0 -30px;
}
a.minibutton:hover>span {background-position:100% -30px;}

a.minibutton.selected {
    color:#fff;
    text-decoration:none;
    text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
    background-position:0 -30px;
}
a.minibutton.selected>span {background-position:100% -30px;}

a.minibutton.mousedown{background-position:0 -60px; }
a.minibutton.mousedown>span{background-position:100% -60px; }

/* download button icon */
a.btn-download .icon {
    float:left;
    margin-left:-4px;
    width:18px;
    height:22px;
    background-repeat:no-repeat;
    background-position:100% 0;
}
a.btn-download .icon {background-position:-40px 0;}
a.btn-download:hover .icon {background-position:-40px -25px;}

/* settings icon */
a.btn-settings .icon {
    float:left;
    margin-left:-4px;
    width:18px;
    height:22px;
    background-repeat:no-repeat;
    background-position:100% 0;
}
a.btn-settings .icon {background-position:-205px 0;}
a.btn-settings:hover .icon {background-position:-205px -25px;}

/* view icon */
a.btn-view .icon {
    float:left;
    margin-left:-4px;
    width:6px;
    height:22px;
    background-repeat:no-repeat;
    background-position:100% 0;
}
a.btn-view .icon {background-position:-14px 0;}
a.btn-view:hover .icon {background-position:-14px -25px;}

a.btn-view.selected .icon {background-position:-14px -25px;}

/* dashboard icon */
a.btn-pin .icon {
    float:left;
    margin-left:-1px;
    width:6px;
    height:22px;
    background-repeat:no-repeat;
    background-position:100% 0;
}
a.btn-pin .icon { background-position:-116px 0; }
a.btn-pin:hover .icon {background-position:-116px -25px;}

a.btn-pin.selected .icon {background-position:-116px -25px;}

/* edit icon */
a.btn-edit .icon {
    float:left;
    margin-left:4px;
    width:0px;
    height:22px;
    background-repeat:no-repeat;
    background-position:100% 0;
}
a.btn-edit .icon { background-position:-0px 0; }
a.btn-edit:hover .icon {background-position:-0px -25px;}

a.btn-edit.selected .icon {background-position:-0px -25px;}

/* better render to table */
.tablefields {

}
.tablefields td {
    padding:4px;
    border-bottom:1px solid gray;
    margin:0px;
}

.sm-header-app {
    /*background-image:url("../imgs/backgrounds/bg-bar-transparent.png");*/
    background-color:#d4d4d4;
    color:gray;
    height:61px;
    margin-left:-1px;
    /*width:772px;*/
    margin-bottom:10px;
}
.sm-header-app h1, .sm-header-app h2, .sm-header-app h3, .sm-header-app h4, .sm-header-app p, .sm-header-app p small {
    color:gray;
}

.accountsWindowBlockAccess {
    padding:4px;
    width:330px;
}

.accountsWindowBlockAccess input[name='login[EMAIL]'] {
    width:250px;
    padding:4px;
    background-color:#e1e1e1;
}

.accountsWindowBlockAccess input[name='login[SENHA]'] {
    width:250px;
    padding:4px;
}

.accountsWindowBlockAccess form[name='form_login'] {
    margin-left:25px;
}

.accountsWindowBlockAccess input[type='submit'] {
    font-size:12px;
    padding:4px;
}

.cow-btn-confirm {
    position:absolute;
    margin-left:203px;
    margin-top:0px;
    margin-left:203px;
}

.smart-caw { margin-left:-1px; }

.block-dotted-add-app {
    font-size:3em;
    background-color: none;
}

.alert-title-color {
    color:#e74c3c
}

/*
 * Auto Complete Window Details
 */
 .sm-ac-details-window {
     width:550px;
     font-size:11px;
     padding:8px;
     max-height:650px;
 }

 .sm-ac-details-window p {
     padding:4px;
     border-bottom:1px solid #e1e1e1;
 }

 .sm-ac-details-window p:last-child {
     border-bottom:none;
 }

 /*
  * Media query for mobile
  */

@media only screen and (max-width: 760px) {
    #direita { display: none; }
}

.sm-notify-alerts-msgs-detail {
    font-size:11px;
}

.sm-notify-alerts-msgs-detail table {
    width:100%;
    font-size:10px;
}

.sm-notify-alerts-msgs-detail table thead th {
    font-weight: bold;
}

.sm-notify-alerts-msgs-detail h1, .sm-notify-alerts-msgs-detail h2, .sm-notify-alerts-msgs-detail h3, .sm-notify-alerts-msgs-detail h4, .sm-notify-alerts-msgs-detail h5, .sm-notify-alerts-msgs-detail h6 {
    background-color:none;
    font-size:1.2em;
}