aside .a-apps-sec li > .a-apps-icons,
aside .a-pref-sec li > .a-pref-icons,
aside .a-graph-sec li > .a-graph-icons,
aside .a-pn-sec li > .a-pn-icons {
	background: none;
}

aside .a-pref-sec li > .a-pref-icons i {
	font-size:28px;
	color:#34495e;
}

aside .sec-content-wrapper > ul {
	border-width: 0 0 0 0;
}

.aside .a-pn-sec .sec-content-wrapper h3:before {
    background-position: -536px -85px;
    width: 21px;
}

aside .a-apps-sec li > .a-apps-icons,
aside .a-config-sec li > .a-config-icons,
aside .a-pn-sec li > .a-pn-icons,
aside .a-graph-sec li > .a-graph-icons,
aside .a-pref-sec li > .a-pref-icons {
    width:38px;
}

/*DASHBOARD*/
aside .a-pn-sec .ico-tv:hover,
aside .a-pn-sec .aside-back:hover {
  background-color: #a6a6a6;
  border-bottom-color: #c9c9c9;
}

aside .a-pn-sec .ico-tv:before {
	background-position: -270px 0px;
	width: 22px;
}

aside .a-pn-sec .ico-tv:hover:before {
 background-position: -270px -23px;
}

aside .a-pn-sec .sec-content-wrapper h3 {
  background-color: #1abc9c;
  border-bottom-color: #17a68a;
}

aside .a-pn-sec .aside-back:hover {
  background-color: #1abc9c;
}

aside .a-apps-sec span a:hover {
  color:#e67e22;
}


.graphs-sec .sec-content {
    padding:0px;
}

.graphs-sec input[type="checkbox"]:checked ~ .sec-content {
    padding:0px;
}

.graphs-dashboard li {
    display:list-item;
    padding:6px;
}

.graphs-sec .sec-content li {
  float:none;
  margin:0;
}

/*
.graphs-dashboard-list {
    color:white;
}

.graphs-dashboard-list div.graphs-list {
    width:210px;
    height:360px;
    float:left;
    border-right: 1px solid white;
}

.graphs-dashboard-list div.graphs-list p {
    padding:12px;
    padding:10px;
    font-size:12px;
    border-bottom:1px solid #3bbaf2;
}

.graphs-dashboard-list div.graphs-list p a {
  color:white;
}
*/

.graphs-dashboard-list div.graphs-list {
    padding:20px;
    font-size:12px;
    padding-bottom:0px;
    padding-top:20px;
}

.graphs-dashboard-list div.graphs-list select {
  font-size:13px;
  border:1px solid gray;

}

.graphs-dashboard-list div.graphs-show {
  margin:10px;
  padding:10px;
  color:#3bbaf2;
  width:750px;
  height:320px;
}

/* Dashboard
-----------------------*/
.a-dash-sec .new-indicator {
  background-color: #a6a6a6;
}

.a-dash-sec:hover .new-indicator {
  color: #a6a6a6;
}

aside .client-logo {
  padding: 0px;
  min-height: 60px;
  max-height: 300px;
  overflow: hidden;
}

aside .client-logo > img {
  height: auto;
  max-height:none;
}

/**
 * @todo - conversar com o jonathan sobre o problema com o tamanho do menu na area da direita.
 */
aside .aside-menu-wrapper {
  overflow: hidden;
  overflow-y:hidden;
}

aside .aside-menu-wrapper ul li small {
  font-size:0.9em;
  color:#9b9b9b;
}

aside .sec-content-wrapper li.normal-paragraph a {
  font: 1.6em "open_sansregular", Arial, Verdana, sans-serif;
  color: #444;
  line-height: normal;
}

.a-alert-sec .sec-content-wrapper li > a:hover,
.a-alert-sec .sec-content-wrapper li > span,
.a-alert-sec .sec-content-wrapper li > .titulo {
  color: #e74c3c;
}

.a-alert-sec .sec-content-wrapper .titulo {
  color: #e74c3c;
}

footer span:before {
  background:none;
  width:none;
  height: none;
  margin-right: none;
  display:hidden;
}

.sec-content li > a.add-app-block {
  display: block;
  position: relative;
  background-color: #ff9f6c;
  border:none;
  padding:30px;
  width: 156px;
  border:none;
  color:black;
  opacity:0.4;
}

.fnt-sansl {
  font: "open_sanslight", Arial, Verdana, sans-serif;
  letter-spacing: -0.05em;
}

.fnt-thin-sansl {
  font: 2.2em "open_sanslight", Arial, Verdana, sans-serif;
  letter-spacing: -0.05em;
}

.fnt-thin-sansl2 {
  font: 1.6em "open_sanslight", Arial, Verdana, sans-serif;
  letter-spacing: -0.05em;
}

.fnt-thin-sansl-min {
  font: 1.2em "open_sanslight", Arial, Verdana, sans-serif;
  letter-spacing: -0.05em;
}

.fnt-thin-sansl-min2 {
  font: 1.0em "open_sanslight", Arial, Verdana, sans-serif;
}

.full-width-area {
  width:100%;
}

.flexigrid tr.erow td {
  border-bottom: 1px solid #e1e1e1;
}

.flexigrid div.bDiv td {
  border-bottom: 1px solid #e1e1e1;
}

.jqueryslidemenu ul li ul {
  margin-top:3px;
}

.jqueryslidemenu ul li ul li a {
    display: block;
    background: #fbfbfb; /*background of tabs (default state)*/
    padding: 9px;
    border-top:solid 1px #E5E5E5; border-left:solid 1px #E5E5E5;  border-right:solid 1px #999999; border-bottom:solid 1px #fff;
    color: black;
    margin-right:4px;
    text-decoration: none;
}

.hackBlocksMenu ul li a {
    border-bottom:1px solid #999999;
    margin-right:0.5em;
}
.hackBlocksMenu {
  border-bottom:none;
}

li[class^='status-activity-'] {
    display:none;
}

li[class^='status-activity-success'] {
  display:block;
}

li[class^='status-activity-loading'] {
  padding:18px;
}


/**
 * Colors
 */
.fnt-cwhite {
  color:white;
}

.c-blackblue {
  color:#34495e;
}

.c-gray {
  color:#333333;
}

.c-gray2 {
  color:#8c8c8c;
}

.c-blue {
  color:#3498db;
}
.c-green {
  color:green;
}

/**
 * Hacks
 */

.button {
  font-size:1em;
}

.h-btn.push {

}

.header-user .trigger-user:before {
  display:none;
}

.h-btn2 {
  display: block;
  padding-top:15px;
  height: 54px;
  width: 55px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.way:before {
  background-position: -454px -1px;
}

.way:hover:before {
  background-position: -454px -24px;
}

/*
.h-btn2 a {
  padding:16px;
}*/

/**
 * Icon
 */

.ico-small-m {
  font-size:1.7em;
}

.ico-small {
  font-size:3em;
}

.ico-medium {
  font-size:5em;
}

.ico-big {
  font-size:10em;
}

.ico-bigger {
  font-size:15em;
}

.label-utext-small {
  font: 1.2em "open_sansregular", Arial, Verdana, sans-serif;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.main-container {
  /*background-color: #f2f2f2;*/
  padding: 0px 0;
}

/** organic hack */
.sm-lists-big {
  padding:0px;
  margin:0px;
  font-size:12px;
  color:#9B9B9B;
  border-right: 1px solid #e1e1e1;
}

.sm-lists-big li {
  padding:12px;
  color:gray;
  border-bottom:1px solid #e1e1e1;
}

.sm-lists-big li:last-child {
  border-bottom:none;
}

.sm-height-400 {
  height:400px;
}

.sm-mx-400 {
  max-height: 400px;
}

.sm-height-500 {
  height:500px;
}

.sm-mx-500 {
  max-height: 500px;
}

.sm-overflow-a {
  overflow:auto;
}