.helpme-open h2 {
    padding:0px;
    margin:0px;
    text-align:right;
    color:#b60606;
    letter-spacing:-1px;
}
.helpme-open {
    font-size:14px;
    color:gray;
    width:700px;
    max-height:700px;
    overflow:auto;
}
.helpme-open ul li {
    border-top:1px dotted #e5e5e5;
    padding-bottom:7px;
    padding-top:7px;
}

.helpme-open small {
    font-size:11px;
}
.helpme-open textarea {
    height:60px;
    font-size:13px;
    padding:5px;
    width:95%;
}

.helpme-content {
    margin-left:200px;
    height:380px;
    padding:5px;
    overflow:auto;
}

.helpme-content p[align='right'] {
    padding-right:0px;
}

.helpme-left {
    float:left;
    width:190px;
    height:380px;
    font-size:12px;
    border-right:1px solid #e5e5e5;
}

.helpme-left li {
    text-align:right;
    padding-right:8px;
    padding-bottom:7px;
    padding-top:7px;
}

.helpme-left ul li:hover {
    background-color:#e9e9e9;
}

.helpme-left a {
    color:gray;
}

.helpme-content .table-helpme-list {
    font-size:12px;
    width:530px;
    max-height:380px;
    overflow:auto;
}

.helpme-content .table-helpme-list td {
    text-align:center;
    padding:4px;
}

.helpme-content .table-helpme-list tr:hover {
    background-color:#fff6ca;
    cursor:pointer;
}

.helpme-content .helpme-area-scroll {
    max-height:380px;
    overflow:auto;
    vertical-align:top;
}

.helpme-content .helpme-chamado-fechado {
    color:#d6d6d6;
}

.helpme-content .helpme-chamado-comentarios-naolidos {
    color:#bd0000;
}

.helpme-details {
    width:550px;
}

.helpme-details p[align='right'] {
    font-size:11px;
}

.helpme-details h3 {
    border-bottom:1px solid #e1e1e1;
}

.helpme-details-chamado {
    font-size:12px;
    background-color:#f2f2f2;
    padding:5px;
    border-bottom:1px solid #e1e1e1;
}

.helpme-details-acoes {
    border-top:1px solid #e1e1e1;
    padding:5px;
    background-color:#f2f2f2;
}

.helpme-details form textarea {
    width:530px;
}

.helpme-details-comentarios {
    height:280px;
    overflow:auto;
}

.helpme-details-comentarios ul li {
    border-bottom:1px dotted gray;
    font-size:12px;
    padding:5px;
    min-height:50px;
}

.comentario-remetente {
    text-transform:uppercase;
    color:gray;
    height:20px;
}

.helpme-details-comentarios ul li:last-child {
    border-bottom:none;
}

.status-comentario {
    background-color:#ffd0a5;
    padding:5px;
    font-size:10px;
    text-align:center;
    border-radius:4px;
    float:right;
    position:relative;
    margin-top:0px;
    color:#d63408;
    margin-left:0px;
}

.comentario-descricao {
    margin-top:2px;
}

.suporte-tecnico {
    background-color:#ffecdc;
}
.details-item-chamado {
    width:319px;
    float:left;
}
.details-item-prioridade {
    width:320px;
    float:left;
}
.details-item-aplicativo {
    width:320px;
    float:left;
}
.details-line2 {
    margin-top:5px;
}
.details-line3 {
    margin-top:5px;
}
.text-small-title {
    font-size:10px;
    text-transform:uppercase;
    color:#fe7800;
    padding:8px;
    font-weight:normal;
}
.details-line1 {
    border-bottom:1px solid #e1e1e1;
    padding:1px;
}