.sm-grid-col-divisao {
	width:350px;
}

.sm-grid-col-secao {
	width:350px;
}

.sm-grid-col-nome {
	width:300px;
}

.sm-grid-col-email {
	width:250px;
}

.sm-grid-col-tipo {
	width:130px;
}

.sm-grid-col-telefone_fixo {
	width:130px;
}

.sm-grid-col-telefone_celular {
	width:130px;
}

.sm-grid-col-status_eap {
	width:250px;
}

.sm-grid-col-atividade {
	width:350px;
}

.sm-grid-col-municipio {
	width:350px;
}

.sm-grid-col-distrito {
	width:350px;
}

.sm-grid-col-estado {
	width:150px;
}

.sm-grid-col-modalidade {
	width:150px;
}

.sm-grid-col-detentora {
	width:250px;
}

.sm-grid-col-tipo_site {
	width:250px;
}

.sm-grid-col-tipo_infra {
	width:250px;
}