.tlf-inicio {
    font-family:Arial;
    margin:0px;
    color:#007486;
}
#contentApp {
	font-family: 'TelefonicaTextRegular',Arial,Helvetica,sans-serif;
	color:#008597;
}

#showAlert {
	border:0px;
	color: #094d5e;
	background-color:#fff;
	border-bottom:1px solid #e1e1e1;
	padding:0px;
	padding-bottom:4px;
}

#showAlert a {
	color:#008ad0;
}

#showAlert h2 {
	font-size:15pt;
}

#logo_telefonica {
    width: 100%;
    height: 87px;
    overflow: hidden;
    position: relative;
}

#logo_telefonica img.bg_logo {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    padding: 0;
}

#logo_telefonica_interior { max-width: 1150px; margin: 0 auto;}

#logo_telefonica img{
    padding: 20px 0 0 15px;
    width:150px;
    position: relative;
    z-index: 100;
}

div[id*='opts-'] {
    display:none;
}

.designButtonFloatDisplayNone {
    float: right;
    display:none;
}

.designButtonFloatRight {
    float: right;
}

.titulo {
    color: #008ad0;
    font-size: 1.9em;
    background-color:#e1e1e1;
}

.subinfo {
	background-color:#094d5e;
	color:white;
}

.subinfo p, .subinfo h2 {
	color:white;
}

.cor-azul-padrao {
	color:#007486;
}

.cor-azul-claro {
    color:#00c6d7;
}

.cor-azul-claro2 {
    color:#008597;
}

.tlf-cor-azul-padrao {
    color:#007486;
}

.tlf-cor-azul-padrao2 {
    color:#008597;
}

.tlf-cor-azul-claro {
    color:#00c6d7;
}

.tlf-cor-gray {
    color:gray;
}

.tlf-icon-medium {
    font-size:5em;
}

.tlf-icon-small {
    font-size:2em;
}

.tlf-title-padrao {
    padding-bottom:0.2em;
}

.cor-bg-telefonica {
	background-color:#007486;
}

.field-style-telefonica {
	color: #008ad0;
	border:1px solid white;
}

.f-titulo-telefonica {
	color: #008ad0;
    font-size: 1.8em;
}

.f-titulo-telefonica2 {
	color: #008ad0;
    font-size: 1.3em;
}

.f-titulo-telefonica3 {
	color: #008ad0;
    font-size: 1.1em;
}

.bulet {
	float:right;
	position:absolute;
	margin-left:545px;
	margin-top:10px;
}

.button-style-pmts {
	border-radius:6px;
}

.box-ini-atalho {
    height:120px;
    opacity: 0.8;
}

.box-ini-atalho:hover {
    opacity: 1.0;
}

.tlf-icon-medium {
    font-size:4.5em;
}

.tlf-color-bg-red {
    background-color:#ff1e3a;
}

.tlf-color-bg-yellow {
    background-color:#f7b81d;
}

.tlf-color-bg-green {
    background-color:#009f29;
}

.tlf-color-bg-blue {
    background-color:#0168a2;
}

.tlf-color-bg-purple {
    background-color:#bf1441;
}

.tlf-color-bg-orange {
    background-color:#ff6918;
}

.tlf-number-ini {
    font-weight: bold;
    color:white;
    font-family: arial;
    font-size:3em;
}

.tlf-ini-mini-titulo {
    font-family: arial;
    font-size:1.2em;
    padding-top:0.1em;
    padding-left:0.2em;
}

.tlf-bg-color-ini {
    background-color:#d9e9e9;
}

/** MENU */



/*
 * jQuery Slider Menu
 */

.jqueryslidemenu{
    font-family: 'TelefonicaTextRegular',Arial,Helvetica,sans-serif;
    font-size:12px;
    width: 100%;
    height:33px;
    border-bottom:none;
}

.jqueryslidemenu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*Top level list items*/
.jqueryslidemenu ul li{
    position: relative;
    display: inline;
    float: left;
    color: #259DCD;
    padding:4px;
    border-top-width: 0px;
}

/*Top level menu link items style*/
.jqueryslidemenu ul li a{
    display: block;
    background: #fff ; /*background of tabs (default state)*/
    padding: 6px 8px;
    color: black;
    text-decoration: none;
    border:none;
    border-right:1px solid #e1e1e1;
    margin-right:-11px;
    border-bottom-width: 0px;
}

.jqueryslidemenu ul li ul li a {
    border-top:solid 1px #e1e1e1;
    border-bottom:solid 0px #999999;
}

.jqueryslidemenu ul li ul li:last-child a {
    border-bottom:solid 1px #e1e1e1;
}

* html .jqueryslidemenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
}

.jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited{
    color:#259DCD;
}

.jqueryslidemenu ul li a:hover{
    color: white;
    background-color:#259DCD;
}

/*1st sub level menu*/
.jqueryslidemenu ul li ul{
    position: absolute;
    left: 0;
    display: block;
    visibility: hidden;
    margin:0;
    margin-left:0px;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li{
    display: list-item;
    float: none;
    z-index:999999;
    margin:-4px;
    border-top-width: 0px;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul{
    top: 0;
    margin-top:4px;
    margin-left:0px;
}

/* Sub level menu links style */
.jqueryslidemenu ul li ul li a{
    font: normal 11px arial;
    width: 170px; /*width of sub menus*/
    padding: 6px;
    margin: -2px;
    background: #fff; /*tab link background during hover state*/
    color:white;
    text-decoration:none;
    border-top:solid 1px #e1e1e1;
}

.jqueryslidemenu ul li ul li a:hover{ /*sub menus hover style*/
    background: #259DCD;
    color: white;
}

.jqueryslidemenu2 ul {
    float:right;
    padding-right: 4px;
    font-size:14px;
}

.jqueryslidemenu2 ul li {
    margin-top:-4px;
}

.jqueryslidemenu2 ul li i {
    color:#c9c9c9;
}

.jqueryslidemenu2 ul li:hover i {
    color:#444444;
}

/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
    position: absolute;
    top: 14px;
    right: 3px;
}

.rightarrowclass{
    position: absolute;
    top: 9px;
    right: 10px;
}

/** NEW UI */
.tlf-mini-table {
    border-left:1px solid #e1e1e1;
}
.tlf-mini-table>thead>tr {
    background-color:#fff;
    font-size:10px;
    border-bottom:1px solid gray;
}

.tlf-mini-table>thead>tr>th {
    border-right:1px solid #e1e1e1;
    color:#007486;
    font-weight: bolder;
    border-bottom:1px solid #e1e1e1;
}

.tlf-mini-table>tbody>tr>td {
    color:black;
}

.tlf-title1 {
    color: #00c6d7;
    border-bottom: solid 2px #00c6d7;
    padding-bottom: 12px;
    padding-top: 15px;
    margin-bottom:10px;
    font-weight: bold;
}

.tlf-title2 {
    color: gray;
    border-bottom: solid 2px #00c6d7;
    padding-bottom: 12px;
    padding-top: 15px;
    margin-bottom:10px;
    font-weight: bold;
}

.tlf-blockHeader1 {
    background-color: #fff;
    border: solid 1px #eee;
    border-bottom: none;
    padding-bottom: 10px;
}

.btnToggleDataSearch {
    cursor:pointer;
}

.tituloFormPesquisa {
    margin-left:-7px;
}

div[id*='opts-'] {
    padding-left:20px;
    display:none;
}

.fieldForm {
    margin-bottom:5px;
}

.tlf-field-form:hover {
    border:1px solid #00c6d7;
}

.tlf-field-form {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
}

.tlf-field-form:hover {
    border:1px solid #00c6d7;
}

.tlf-title-header {
    color: #00c6d7;
    border-bottom: solid 2px #00c6d7;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom:10px;
}

.tlf-title-project {
    color: #007486;
    border-bottom: solid 1px #e4e3e3;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom:10px;
}

.tlf-btn-left-project {
    float: left;width:90px;
    margin-top:-3px;
}

.tlf-btn-right-project {
    float: right;width:90px;
    margin-top:-3px;
}

.tlf-btn-dn {
    display:none;
}

.btnAcoesDestravarTituloA, .btnAcoesDestravarTitulo {
    margin-top:-4px;
}

.tlf-bg-project {
    background-color: #fff; border: solid 1px #eee; border-bottom: none; padding-bottom: 10px;
}

.tlf-bgr-project {
    background-color: #f9f9f9; border: solid 1px #eee; border-left: none; border-bottom: none; padding-bottom: 10px;
}

.tlf-bgr-project-colb {
    background-color: #f9f9f9;
    border-right: solid 1px #eee;
    border-left: none;
    border-top: none;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}

.tlf-pdn-lr {
    padding-left: 0; padding-right: 0;
}

.tlf-pdn-l {
    padding-left: 0;
}

.tlf-pdn-r {
    padding-right: 0;
}

.tlf-pdn0 {
    padding:0;
}

.tlf-mb15 {
    /*margin-bottom: 15px;*/
}

.tlf-mt15 {
    margin-top: 15px
}

.tlf-mt7 {
    margin-top: 7px
}

.tlf-mb7 {
    margin-bottom: 7px
}

.tlf-fr {
    float:right;
}

.tlf-fl {
    float:left;
}

.tlf-dispb {
    display:block;
}

.tlf-dispn {
    display:none;
}

.tlf-label-dt-ini {
    width: 100%;
    color: #003245;
    font-size: 11px;
    font-weight: bold;
}

.atividade-parent-a:first-child, .atividade-parent-b:first-child {
    margin-top:10px;
}

.colunaA {
    border-right:1px solid #eee;
    padding-right: 22px;
}
