.tabs-tpl{
	padding: 0;
	margin: 0 0 0 0;
	list-style: none;
}
.tabs-tpl li{
	display: inline-block;
	border-right: 1px solid #cfcfcf;
	border-top: 1px solid #cfcfcf;
	border-left: 1px solid #cfcfcf;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	color:gray;

	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}
.tabs-tpl li a{
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	color: #a6a6a6;
	text-shadow: 0px 1px 0px #fff;
	margin: 0;
}
.tabs-tpl li a:hover{
	color: #007486;
}
.tabs-tpl li a.selected{
	border-bottom-color: #fff;
	border-top-color: #cfcfcf;
	color:#007486;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.tabs-tpl-content {
	top: 0;
	left: 0;
	padding: 4px;
	position: relative;
	border: 1px solid #cfcfcf;
	z-index: 1;
	overflow: hidden;
	background-color: #fff;
}