/* propriedades de tags - perfil/backgrounds/bg_4118.png */

body {
    /*background-image:url('../imgs/perfil/backgrounds/bg_0007-2.png');*/
    padding:0px;
    margin:0px;
    font-size:11px;
    font-family:Arial, Tahoma, sans-serif;
    background-color:#fafafa; /*#EDF5D3; /* #EDF5D3 */
}

.disabled {
    background-color:#f1f1f1;
}

.close {
    opacity:1;
}

a:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a { text-decoration:none; color:#595959; /**color:#55AAFF;*/ }
a:hover { /**color: #3D68BD;*/ color:#ababab; text-decoration:none; }

/*h2, h3, h4, h5, h6 { padding:0px; margin:0px; font-family: 'colaborate-thinregular'; }*/
p, form { padding:0px; margin:0px; }
/*
h1 { letter-spacing:0px; font-size:2.0em; }
h2 { padding:0px; margin:0px; font-size:1.5em; }
h3 { padding:0px; margin:0px; font-size:1.2em; }
h4 { padding:0px; margin:0px; font-size:0.9em; }
h5 { padding:0px; margin:0px; font-size:0.6em; }
h6 { padding:0px; margin:0px; font-size:0.3em; }
h1, h2, h3, h4, h5, h6 {
    font-family: "open_sanslight";
    letter-spacing: -1px;
}
*/

h1, h2, h3, h4, h5, h6 {
    margin-top:0px;
    margin-bottom:0px;
    /*font-size:1.2em;*/
}
h2 {
    font-size:1.5em;
}

h3.titulopublicidade { font-size:11px;font-weight:normal; font-family:helvetica; }

h3.titulo, h4.titulo, h2.titulo {
    padding:3px;
}

hr {
    border:0px;
    border-top:1px solid #e6e6e6;
}

img { border:0px; }


input[type='text'], input[type='password'], .form select {
    padding:6px;
    font-size:13px;
    border:1px solid #d4d4d4;
}

form .inputext {
    font-size:18px;
}

input[type='text'], input[type='password'], textarea {
    border-top:1px solid gray;
    border-left:1px solid gray;
    border-right:1px solid #EEE;
    border-bottom:1px solid #EEE;
    padding:4px;
    font-size:13px;
}

input[type="checkbox"], input[type="radio"] {
    position:absolute;
    margin-top:-2px;
}

form {
    padding:0px;
}

form > p {
    padding-top:4px;
    margin:2px;
    padding-left:6px;
}

form > h1 { font-size:11px; font-weight:bold; padding:0px; margin:0px; }
form .textareaSmallLarge { height:80px; width:450px; }
form .spaceCheckbox { padding-left:25px; }
form > div { padding:6px; }

label {
    margin-bottom:0px;
}

.contentApp { background-color:white; }

.reset-this {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
}