body {
    overflow-x: hidden;
}

.contentApp #showAlert h2, .contentApp #showAlert p {
	display:none;
}

.contentApp #showAlert p:last-child {
	display: block;
}

/** responsive definition */
.main-container .container_12 .grid_8 {
	width:99.9%;
	font-family: Verdana, Arial, sans-serif;
}

input[type='text'], input[type='password'], .form select {
	padding:4px;
}

.groupshadow {
	border-bottom:2px solid #335162;
	color:#008ad0;
}

.campo-data-intervencao {
	font-size:10px;
	width:90%;
}
.inputDataGrid { text-align:center; color:gray; }

.icon-medium {
	font-size:4em;
}

.pmts-itv-search {
	background-color:#F7F7F7;
}

form[name^='intervencoes_'] .labelField {
	width:180px;
}

.label-details {
	width:150px;
	float:left;
	color:gray;
}

.label-details2 {
	width:180px;
	float:left;
	color:gray;
}

.area-details-intervencao-int {
	height: 380px;
	overflow:auto;
}

.area-details-intervencao-int ul li {
	font-size:12px;
	height: 24px;
	overflow:hidden;
}

form[name^='fp_municipios_'] div.labelField {
	width:200px;
}

.labelField {
	color: gray;
}

.table-search {
	width:100%;
}

.table-search td {
	width:100%;
}

.table-search td:first-child {
	width:30%;
	padding-left:10px;
}

.table-search tr[class^='fields-opt-'] {
	display:none;
}

div[class*='fields-opt-'] {
	display:none;
	padding-left:10px;
}

.table-search tr[class='fields-opt-referencias'] {
	display:table-row;
}

div[class*='fields-opt-identificacao'], div[class*='fields-opt-localizacao'] {
	display:block;
}

.view_cadastro_intervencoes {
	max-height: 500px;
	overflow: auto;
}

.linha-cinza-b {
	border-bottom:1px solid #BFBFBF;
}

.mt10 {
	margin-top:10px;
}

/**
 * Propriedades lançamentos
 */

.boxy-wrapper .title-bar {
	padding: 6px !important;
	position: relative !important;
}
.boxy-wrapper .title-bar a { color: white; }

.boxy-wrapper .title-bar { padding: 8px !important; position: relative !important; color:black !important;  }
.boxy-wrapper .title-bar.dragging { cursor: move !important; }
.boxy-wrapper .title-bar h2 { font-size: 12px !important; color: white !important; line-height: 1 !important; margin: 0 !important; padding: 0 !important; font-weight: bold !important; }
.boxy-wrapper .title-bar .close { position: absolute !important; top: 6px !important; right: 6px !important;  font-size:1.3em !important; line-height: 1 !important; color:#ffffff !important; }
.boxy-wrapper .title-bar .close:hover { color: #efefef !important; }
.boxy-wrapper .title-bar a { color: white !important; }


div[class^='anexandoArquivo-'], div[class^='carregandoAnexos-'] {
	padding:10px;
	background-color:white;
	text-align:center;
	display:none;
}

div[class^='carregandoAnexos-'], div[class^='anexandoArquivo-'] {
	display:none;
}

input[name='usuario_nome'] {
	width:350px;
}

input[name='usuario_email'] {
	width:350px;
}

tr.tlf-cor-azul-padrao {
	background-color: #efefef;
	font-weight:300;
}

.tlf-cor-azul-claro.open-site {
	color: #007486;
	text-decoration: underline;
}

.sm-tables td, .sm-tables th {
	border-bottom:0px solid #fff !important;
}

.sm-tables>tr>td {
	color: #007486;
}

.text-center {
	text-align: center;
	vertical-align: middle;
}

.form a {
	color:gray;
}

.form input, .form select {
	border-radius:4px;
	padding:4px;
}

.form input:focus {
	border:1px solid #00c6d7;
}
.form input[type='submit'] {
	background-color:#00c6d7;
	border-color:#00c6d7;
	color:white;
}

.form input[type='submit']:hover {
	background-color:#00c6d7;
	color:white;
	border:1px solid #009DA9;
}

.boxy-content {
	padding:0em;
	border-radius:0em;
}

.paddingBox {
	padding:10px;
}

.boxy-content h2:first-child, .boxy-content h2:first-of-type {
	padding-top:0px;
	margin-top:0px;
	border-bottom:1px solid #e1e1e1;
	padding:10px;
	background-color:#00c6d7;
	font-size:1.2em;
	color:white;
}

.boxy-wrapper .title-bar {
	background-color:#00c6d7;
	text-align:center;
}

.form div.labelField {
	padding-top:7px;
	color:#ADADAD;
	font-weight: normal;
	letter-spacing: 0px;
}

.contentApp>a, #showAlert>a {
	color:gray;
}

.contentApp a:hover, #showAlert a:hover {
	color:#00c6d7;
	text-decoration: none;
}

.contentApp>h4 {
	color:#00c6d7;
}

a.btn-tlf {
	background-color:#00c6d7;
	border-color:#00c6d7;
	color:white;
	padding:8px;
	font-size:1em;
	border-radius:4px;
}

a.btn-tlf:hover {
	background-color:#00AEBB;
	color:white;
	text-decoration: none;
}

a.btn-tlf2 {
	background-color:#BFBFBF;
	border-color:#00c6d7;
	color:white;
	padding:8px;
	font-size:1em;
	border-radius:4px;
}

a.btn-tlf2:hover {
	background-color:#00AEBB;
	color:white;
	text-decoration: none;
}


#inicio .text-left {
	border-bottom: solid 1px #e4e3e3;padding-bottom: 17px; padding-top: 20px; background-color: #fff; margin-top: 0;
}
.form-group label {
	font-weight: normal;
	color:gray;
}

.boxy-content .question {
	padding-bottom:1em;
}

.boxy-content .answers {
	padding:1em;
}

.boxy-content p {
	margin:0px;
	padding:0px;
}

.boxy-content .answers input[value='Cancel'] {
	text-decoration: none;
	border:0px;
	background-color:white;
	border-left:1px solid gray;
}

.boxy-content .answers input[value='Cancel']:hover {
	color:#e1e1e1;
}

.boxy-content .answers input[value='OK'] {
	background-color:#00c6d7;
	border-color:#00c6d7;
	color:white;
	padding:6px;
	font-size:0.8em;
	border-radius:4px;
	margin-right:3px;
}

.boxy-content .answers input[value='OK']:hover {
	background-color:#00AEBB;
	color:white;
	text-decoration: none;
}

.boxy-wrapper .title-bar h2 {
	padding-top:0px;
	margin-top:0px;
	background-color:#00c6d7;
	font-size:1em;
	color:white;
	text-align:left;
}

.boxy-wrapper .title-bar a i {
	color:white;
}

.boxy-wrapper .title-bar a:hover i {
	color:white;
}

.title-boxy-outside {
	padding-top: 0px;
	margin-top: 0px;
	padding: 10px;
	background-color: #00c6d7;
	font-size: 1.2em;
	color: white;
}

.cad_ponta_a{padding:4px;}
.cad_ponta_b{padding:4px;}

/*.sm-padding{ padding:0 !important; }*/

.icon-remove{
	background-color: #fff;
	color: #00c6d7;
	border-radius: 50%;
	margin-left:-20px;
	font-size: 0.6em;
	font-weight: normal;
	padding: 4px;
}

.icon-remove-sign{
	background-color: #fff !important;
	color: #00c6d7 !important;
	border-radius: 50% !important;
	margin-left:-20px !important;
	font-size: 0.6em !important;
	font-weight: normal !important;
	padding: 4px !important;
}

.grid-small-large p, .grid-small-medium p {
	margin:0px;
}

.trigger-anexar-arquivo:hover, .reg-ativ-observacao:hover, .inter-ativ-associar:hover {
	text-decoration:none;
}

.h1, .h2, .h3, h1, h2, h3 {
	margin:0px;
}

.contentApp > #showAlert {
	position:absolute;
	right:10px;
	border-bottom:none;
}

#showError {
	margin-bottom:0px;
	border:0px;
}

#showError h3 {
	font-size:1.5em;
}
