/*
 * Favoritos
 */
div[id^='sm-window-'] {
    width:560px;
    /*margin-top:-1px;*/
}

div[id^='sm-window-'] h2 {
    font-size:1.5em;
    background-color:white;
    color:#7F7F7F;
    padding:10px;
    font-weight: normal;
    border-bottom:1px solid #e1e1e1;
}

div[id^='sm-window-'] h3 {
    background-color:white;
    color:#9F9F9F;
    font-size:1.3em;
    border-bottom:none;
    font-weight: normal;
}

div[id^='sm-window-header-'] {
    height:104px;
    width:100%;
    border-bottom:1px solid #c9c9c9;
}

div[id^='sm-window-header-'] h2 {
    position:fixed;
    font-size:18px;
    color:#0d64ae;
    letter-spacing:-1px;
}

div[id^='sm-window-header-'] h3 {
    margin:0px;
    padding:0px;
}
div[id^='sm-window-header-'] ul {
    position:fixed;
    margin-right: 15px;
    float:right;
    margin-top:56px;
    width:530px;
}

div[id^='sm-window-header-'] ul li {
    display:inline;
    font-size:12px;
    padding:10px;
    cursor:pointer;
    margin-right:2px;
}
div[id^='sm-window-header-'] ul li.selected {
    padding:10px;
    border:1px solid #c9c9c9;
    border-bottom:none;
    background-color:white;
    font-size:12px;
    font-weight:bold;
}
div[id^='sm-window-details-'] {
    position:fixed;
    font-size:12px;
    float:left;
    padding:10px;
    padding-left:3px;
}
div[id^='sm-window-icon-'] {
    height:32px;
    width:35px;
    float:left;
}
div[id^='sm-window-content-'] {
    height:410px;
    overflow: auto;
    width:100%;
}
div[id^='sm-window-footer-'] {
    border-top:1px solid #c9c9c9;
    width:100%;
    padding:8px;
}

div[id^='sm-window-footer-'] input[name='fechar'] {
    font-weight: bold;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    div[id^='sm-window-header-'] ul {
        margin-top:79px;
    }

    #sm-window-details-usuarios {
        margin-top:0px;
    }

}