form[name^='fp_atividades_'] .labelField {
	width:240px;
}

form[name^='fp_atividades_'] input[name='nome_atividade'] {
	width:410px;
}

.sm-grid-col-nome_atividade {
	width:250px;
}

.sm-grid-col-divisao {
	width:250px;
}

.sm-grid-col-secao {
	width:250px;
}

.sm-grid-col-calendario {
	width:200px;
}